@import url('https://fonts.googleapis.com/css2?family=Flamenco&family=Montserrat&display=swap');


:root{
    --black:#15202b;
    --white:white;
    --text:white;
    --flamenco: 'Flamenco', cursive;
    --monst:'Montserrat', sans-serif;
    --red:rgb(224, 36, 94);
    --trend:rgb(25, 39, 52);
    --light-gray:lightgray;
    --border:#555;
    --info:lightgray;
    --red:#e0245e;
    --text-color:var(--text);
    --background: var(--black);
}
.lightmode {
    --white:white;
    --text:black;
    --trend:#f5f8fa;
    --border:lightgray;
    --info:gray;
    --text-color:var(--text);
    --background: var(--white);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
::-webkit-scrollbar {
  width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--border); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
a{
    text-decoration: none;
    color: var(--text-color);
}
a:hover{
    color: var(--text-color);
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    background-color: var(--background);
    color:var(--text-color);
    font-size: 1rem;
    font-family: var(--monst);
        overflow-x: hidden;
}

nav{
  margin: 0;
  padding: 1rem;
  width: 300px;
  background-color: var(--background);
  position: fixed;
  height: 100%;
  display: flex;
  justify-content: center;
  border-right: 1px solid var(--border);
}
.navbar-nav{
  padding: 0;
  margin: 0;
  display: flex;
}
.navbar-nav li:last-child{
  margin-top: auto;
}
.navbar-nav li:hover{
  background-color:rgb(109 11 52) ;
  border-radius: 30px;
}
.link-tweet{
   background-color: var(--red);
  border-radius: 30px; 
}
.navbar-nav a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    transition: 400ms ease-in-out;
    padding: 10px;
    height: 3rem;

    
}
nav i{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    margin:0 1.5rem;
}
.link-text{
  font-size: 19px;
}
.second{
  margin-left: 300px;
  padding: 0;
  display: flex;


}
/*----for--------sidebar*/
.sidebar{
  width: 280px;
}

.second-tweet{
  width: 60%;
  border-right:1px solid var(--border); 
  transform:translateX(10px);

 
}
.close{
  position: absolute;
  right: 40px;
  color:var(--red);
  display: none;
}
.tweet-header{
  position: sticky;
  display: flex;
  top: 0;
  background-color: var(--background);
  padding: 10px;
  font-weight: 2800;
  z-index: 1;
  border-bottom: 1px solid var(--border);
  width:100%;
  
}
.tweet-header button{
  display: none;
}
.second-trend{
  padding-top: 6px;
  position: sticky;
  top: 0;
  height: 100vh;
  width:40%;
}
#search-bar{
  margin-left: 20px;
  background: var(--trend);
  border-radius: 25px;
  border: none;
  outline: 0;
  padding: 8px;
  width:80%;
  filter:brightness(1.3);
  color: white;
}
#search-bar:focus{
  border:1px solid var(--red);
}
.trend{
    border-radius: 22px;
    background:var(--trend);
    width: 80%;
    margin: auto;
    height: 250px;
    color: var(--text-color);
    margin-top: 30px;
}
.follow{
    color: var(--text-color);
    border-radius: 22px;
    background: var(--trend);
    width: 80%;
    margin: auto;
    height: 200px;
    margin-top: 10px;
   
}
.bottom-menu{
  display: none;
}
.add-tweet{
  display: flex;
  width: 95%;
  margin: auto;
  padding: 1rem;
  border-bottom: 1px solid var(--border);
}
.add-tweet-input{
  width: 80%;
}
.add-tweet-input input{
  padding: 7px;
  border:none;
  outline: 0;
  background-color: transparent;
  color: gray;
  width: 100%;

}
/*  actual tweet */
.actual-tweet{
  display: flex;
  margin-top: 10px;
  border-top: 1px solid var(--border);
  padding: 1rem;
}
.tweet-content{
  margin-left: 20px;
}
@media only screen and (max-width: 1150px){
  nav {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    z-index: 2;
  }
  .add-tweet{
    margin-left: 80px;
  }
  .actual-tweet{
    margin-left: 80px;
  }
  nav i{
    margin-left: 5px;
  }
  nav span{
    display: none;
  }
  .second{
    margin-left: 0;
  }

  .second-trend{
    display: block;
    width: 40%;
  }
  .second-tweet{
    width: 60%;
  }
  .tweet-header{
    width: 100%;
  }

  .tweet-header button{
    display: block;
  }
  .tweet-header h4{
    position: relative;
    margin-left: 50px;
  }
}

@media only screen and (max-width: 900px){
 .second-tweet{
  width: 100%;
 }
 .second-trend{
  display: none;
 }
}
@media only screen and (max-width: 600px){
  nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -20px;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    z-index: 2;
  }
    nav span{
    display: block;
  }
    .add-tweet{
    margin-left: 0px;
    width: 100%;
  }
    .actual-tweet{
     margin-left: 0px;
    width: 100%;
  }
  .second{
    margin-left: 0;
  }
  .second-trend{
    display: none;
  }
  .close{
    display: block;
  }
  .tweet-header button{
    display: block;
  }
  .tweet-header h4{
    position: relative;
    margin-left: 50px;
  }
  .navbar-nav li:hover{
    background-color: transparent;
    color: var(--red);
  }
  .link-tweet:hover{
    background-color: var(--red);
  }
  .bottom-menu{
  display: block;
  position: fixed;
  bottom: 0;
  height: 4rem;
  display: flex;
  align-items:center;
  width: 100%;
  background-color: var(--background);
  border-top: 1px solid var(--border);
  transition: 400ms ease;
 }
 .bottom-menu ul{
  display: flex;
  width: 100%;
  justify-content: space-around;
  }
  .bottom-menu i{
    color: gray;
    font-size: 21px;
    margin-top: 20px;
  }
   .bottom-menu i:hover{
    color: var(--red);
   }
}